<!DOCTYPE HTML5>
<nav class="navbar navbar-expand-md fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand clickable" id="header-logo">JS SPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link clickable" id="btn-home">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link clickable" id="btn-events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link clickable" id="btn-list">List</a>
            </li>
        </ul>
    </div>
</nav>